body {
  color: black;
  background: transparent;
  font-size: Npt;
  font-family: serif;
}

#container {
   width: 10in;
   margin: 0 auto 0 auto;
   padding: 0.2in;
   border-width:2pt;
   border-color:#000;
   border-style:solid;
 }

 h1 {
   font-size: 300%;
   font-weight: bold;
   text-align: center
 }

 h2 {
   font-size: 150%;
   font-weight: bold;
   margin-left: 0.5in;
   margin-bottom: 0.16in;
 }

 h3 {
   font-style: italic;
   color: rgb(49,134,70);
 }

 nav {
   width: 9.5in;
   padding: 0.05in;
   border-top: 2pt solid #000;
   border-bottom: 1pt solid #000;
   text-align: center;
   margin: auto;
 }

 .f {
   display: inline;
   margin: 0;
 }

 img {
   width: 3.125in;
   height: 2.7in;
   float: left;
   margin-left: 0.16in;
   margin-right: 0.16in;
   padding: 10pt 80pt;
   border-right: 1pt solid #000;
 }

 #contact {
   font-size: 150%;
   padding: 60pt;
   text-align: center;
 }

 header {
   border-bottom: 2pt solid #000;
 }

 section {
   border-bottom: 1pt solid #000;
 }

 a {
   text-decoration: none;
 }

 a[href^="http"]:after{
   content: "  ("attr(href)") ";
 }

 strong {
   font-weight: bold;
   color: rgb(155,41,79);
 }

 em {
   font-weight: bold;
 }

 article {
   margin-left: 0.53in;
   margin-right: 1.67in;
   margin-bottom: 0.5in;
 }

 article li {
   text-align: left;
   margin-left: -0.16in;
   margin-right: 0.58in;
 }

 #skill {
   margin-left: auto;
 }

 #software {
   margin-left: auto;
 }

 footer {
   text-align: center;
 }

 article p {
   margin-top: -0.08in;
 }

 article ul {
   margin-top: -0.16in;
 }

 #navigation {
   margin-left: auto;
 }

 h4 {
   margin-top: -0.1in;
 }

 h3 {
   margin-top: -0.08in;
 }

 #cca {
   padding-top: 0.5in;
 }
