@import url(https://fonts.googleapis.com/css?family=Pacifico|Raleway:800);

body {
  font-size: 16px;
  font-family: "sans-serif";
  background-color: #916081;
  background-image: url(http://www.transparenttextures.com/patterns/diagmonds-light.png);
  line-height: 1.5;
}

#container {
   background-color: rgb(243,232,241);
   max-width: 960px;
   min-width: 500px;
   margin: 0 auto;
   padding: 20px;
   border-width:2px;
   border-color:rgb(255,255,255);
   border-style:solid;
 }

h1 {
  font-size: 300%;
  font-family:"Pacifico","sans-serif";
  text-align: center
}

h2 {
  font-size: 150%;
  font-family:"Raleway","sans-serif";
  margin-left: 4em;
  margin-bottom: 1em;
}

h3 {
  color: rgb(49,134,70);
}

nav {
  max-width: 960px;
  min-width: 500px;
  padding: 5px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  margin: auto;
}

.f {
  display: inline;
  margin: 0px 0px;
}


img {
  width: 300px;
  height: 260px;
  float: left;
  margin-left: 1em;
  margin-right: 1em;
  padding: 10px 80px;
  border-right: 1px solid rgb(138,139,138);
}

#contact {
  font-size: 150%;
  font-family: "Raleway","sans-serif";
  padding: 60px;
  text-align: center;
}

header {
  border-bottom: 2px solid #000;
}

section {
  border-bottom: 1px solid #000;
}
a:visited {
  color: rgb(228,63,106);
}

a:hover {
  color: rgb(253,178,37);
}

a {
  color: rgb(152,55,2);
}
strong {
  font-weight: bold;
  color: rgb(155,41,79);
}

em {
  font-weight: bold;
}

article {
  margin-left: 6em;
  margin-right: 10em;
  margin-bottom: 3em;

}

article li {
  text-align: left;
  margin-left: -1em;
  margin-right: 3.5em;
}

#skill {
  margin-left: auto;
}

#software {
  margin-left: auto;
}

footer {
  text-align: center;
}

article p {
  margin-top: -1em;
}

article ul {
  margin-top: -1em;
}

#navigation {
  margin-left: auto;
}

h4 {
  margin-top: -1em;
}

h3 {
  margin-top: -0.5em;
}
